body { background-color: #000; }
#mtaTwitter { padding: 0; }
#mtaTwitter > a { float: left; }
#mtaTwitter a img {
	height: 48px;
    width: 48px;
    border: 1px solid #CCC;
}
#mtaTwitterStatuses:before {
	display: block;
    position: absolute;
    top: 15px;
    left: -11px;
    width: 11px;
    height: 21px;
    margin: 0;
    content: url("white_triangle-left.png");
}
#mtaTwitterStatuses {
	position: relative;
    background-color: #fff;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    list-style: none;
    margin: 0;
    margin-left: 66px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}
#mtaTwitterStatuses li { padding: 10px 10px; font-size: 10pt; }
#mtaTwitterStatuses li.first { font-size: 18pt; font-weight: bold; }
#mtaTwitterStatuses li.even { background-color: #EDEEFD; }
#mtaTwitterStatuses li.first span { font-size: 10pt; font-weight: normal; }
#mtaTwitterStatuses li span { font-style: normal; }