body { background-color: #000; }
#mtaTwitter { padding: 0; }
#mtaTwitter > a { float: left; }
#mtaTwitter a img {
	height: 48px;
    width: 48px;
    border: 1px solid #CCC;
}
#mtaTwitter ul:before {
	display: block;
    position: absolute;
    top: 16px;
    left: -10px;
    margin: 0;
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    line-height: 0;
    font-size: 0;
    width: 0;
}
#mtaTwitter ul {
	position: relative;
    background-color: #fff;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    list-style: none;
    margin: 0;
    margin-left: 66px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}
#mtaTwitter ul li { padding: 10px 10px; font-size: 10pt; }
#mtaTwitter ul li.first { font-size: 18pt; font-weight: bold; }
#mtaTwitter ul li.even { background-color: #EDEEFD; }
#mtaTwitter ul li.first span { font-size: 10pt; font-weight: normal; }
#mtaTwitter ul li span { font-style: normal; }
